@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 {
    @apply text-4xl font-bold text-center mb-8;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  p {
    @apply opacity-80;
  } */
  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    @apply w-2;
    @apply h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-base-content/10 rounded-full;
    -webkit-border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-tr from-secondary via-primary to-accent rounded-full;
    -webkit-border-radius: 8px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
